{% include header.html %}
	<!--[if lte IE 8]>
	    <link rel="stylesheet" href="css/layouts/marketing-old-ie.css">
	<![endif]-->
	<!--[if gt IE 8]><!-->
	    <!--<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/layouts/marketing.css">-->
			<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/layouts/side-menu.css">

	<!--<![endif]-->


</head>
<body>
<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">

      <ul class="pure-menu-list">
        	{% capture location %}{{ page.url }}{% endcapture %}
            {% for page in site.pages reversed %}
			<li class="pure-menu-item {% if location == post.url %}pure-menu-selected{% endif %}"><a href="{{ page.url | prepend: site.baseurl }}" class="pure-menu-link">{{ page.title }}</a></li>
			{% endfor %}
			<li class="pure-menu-item"><a class="pure-menu-link" href="http://mrfil.github.io">Other Projects</a></li>

			<li class="pure-menu-item"><a class="pure-menu-link" href="http://mrfil.bioen.illinois.edu">About MRFIL</a></li>

			<li class="pure-menu-item"><a class="github-button pure-menu-link" href="https://github.com/mrfil/PowerGrid" data-icon="octicon-star" data-style="mega"  aria-label="Star mrfil/PowerGrid on GitHub">Star</a></li>

			<li class="pure-menu-item"><a class="github-button pure-menu-link" href="https://github.com/mrfil/PowerGrid/fork" data-icon="octicon-git-branch" data-style="mega" aria-label="Fork mrfil/PowerGrid on GitHub">Fork</a></li>

			<li class="pure-menu-item"><a class="github-button pure-menu-link" href="https://github.com/mrfil/PowerGrid/archive/master.zip" data-icon="octicon-cloud-download" data-style="mega" aria-label="Download mrfil/PowerGrid on GitHub">Download</a></li>

        </ul>
    </div>
</div>
